body {
  background-color: rgb(6, 39, 50);
}
.App {
  text-align: center;
}

.homePage {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(98, 195, 164);
}
.banner,
header {
  justify-content: space-around;
  align-items: center;
  color: rgb(193, 29, 37);
  background-color: rgb(6, 39, 50);
  margin: 0px;
}

.navbar,
.cardHeader {
  justify-content: space-around;
  align-items: center;
  color: rgb(193, 29, 37);
  background-color: rgb(6, 39, 50);
  min-height: 2em;
}

.navbar a {
  text-decoration: none;
  color: rgb(193, 29, 37);
  font-weight: bold;
  margin-left: 0.5em;
}

.park-card,
.parkCard,
.cardHeader,
.navbar {
  display: center;
  align-items: center;
  margin: auto;
  width: 50%;
}

.park-card,
.parkCard {
  background-color: rgb(98, 195, 164);
  border: 3px solid rgb(193, 29, 37);
}
