@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background-color: rgb(6, 39, 50);
}
.App {
  text-align: center;
  background-color: rgb(6, 39, 50);
}

.homePage {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.banner,
header,
.cardHeader {
  justify-content: space-around;
  align-items: center;
  color: rgb(193, 29, 37);
  background-color: rgb(6, 39, 50);
  margin: 0px;
  font-family: "Lobster", cursive;
}

.navbar,
.cardHeader {
  justify-content: space-around;
  align-items: center;
  color: rgb(193, 29, 37);
  background-color: rgb(6, 39, 50);
  min-height: 2em;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  color: rgb(193, 29, 37);
  font-weight: bold;
}

.park-card,
.parkCard,
.cardHeader,
.navbar {
  display: center;
  align-items: center;
  margin: auto;
  width: 50%;
}

.park-card,
.parkCard {
  background-color: rgb(98, 195, 164);
  border: 3px solid rgb(193, 29, 37);
  width: 50%;
}

.listImg {
  height: 10px;
}
